footer {
    font-family: $font-texte;
    color: white;
    background-color: $couleur-grisfonce;
    padding: 20px 20px 30px 20px;
    h3 {
        font-family: $font-logo-titres;
        font-size: 1.3em;
        font-weight: 100;
        margin-bottom: 15px;
    }
    li {
        padding: 3px 0;
        font-size: 1em;
        i {
            font-size: 0.8em;
            width: 15px;
            padding-right: 10px;
        }
    }
}