footer {
    font-family: $font-texte;
    color: white;
    background-color: $couleur-grisfonce;
    .footer {
        margin: 0 auto;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 30px 20px;
        @include desktop {
            display: flex;
            flex-direction: row;
            padding: 45px 45px;
        } 
        @include tablette {
            display: flex;
            flex-direction: row;
            padding: 30px 40px;
        }
        h3 {
            font-family: $font-logo-titres;
            font-size: 1.3em;
            font-weight: 100;
            margin-bottom: 15px;
            @include desktop {
                padding-right: 150px;
            }
            @include tablette {
                padding-right: 60px;
            }
        }
        ul {
            width: 100%;
            @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            @include tablette {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        li {
            padding: 3px 0;
            font-size: 0.9em;
            a {
                color: white;
            }
            a:visited {
                color: white;
            }
            i {
                color: white;
                font-size: 0.8em;
                width: 15px;
                padding-right: 10px;
            }    
        }
    }
}