.logo {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    position: relative;
    a {
        font-size: 1em;
        padding: 10px;
        position: absolute;
        top: -2px;
        left: 5px;
    }
}