.localisation {
    font-family: $font-texte;
    &__element {
        font-size: 1em;
        font-weight: 500;
        color: $couleur-grisfonce;
        text-align: center;
        background-color: darken($couleur-grisclair, 5);
        padding: 13px 0;
        box-shadow: inset 0 2.5px 3px $couleur-grismoyen;
        i {
            padding-right: 10px;
        }
        h4 {
            display: inline-block;
        }
    }
}