#presentation {
    font-family: $font-texte;
    background-color: $couleur-grisclair;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px;
    .presentation__texte {
        h2 {
            font-size: 1.6em;
            text-align: center;
            padding: 0 10px;
        }
        p {
            font-size: 1.1em;
            font-weight: 300;
            text-align: center;
            padding: 15px 0;
        }
    }
    .presentation__btn {
        @include btn-gradient (210px);
        margin: 10px 0 20px 0;
        a {
            color: white;
            font-size: 0.95em;
            padding: 15px 20px;
        }
        &:hover {
            @include btn-effet;
        }
    }
}