.restaurants {
    font-family: $font-texte;
    background-color: $couleur-grisclair;
    padding: 40px 20px;
    h3 {
        font-size: 1.6em;
    }
    &__conteneur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.carte {
    width: 330px;
    height: 240px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 15px $couleur-grismoyen;
    margin: 20px 0 10px 0;
    position: relative;
    img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    h4 {
        font-size: 1em;
        font-weight: 600;
        padding: 10px 15px 5px 10px;
    }
    p {
        font-size: 1em;
        padding: 0 10px;
    }
    i {
        font-size: 1.3em;
        font-weight: normal;
        position: absolute;
        bottom: 35px;
        right: 20px;
    }
    &--nouveau {
        width: 85px;
        height: 30px;
        line-height: 30px;
        border-radius: 3px;
        background-color: $couleur-tertiaire;
        font-size: 0.9em;
        font-weight: 500;
        color: darken($couleur-tertiaire, 37);
        text-align: center;
        position: absolute;
        top: 13px;
        right: 13px;
    }
}
