//Page d'accueil__1: Loading Spinner
.preloader {
    opacity: 0; //not necessary, but added in case of animation failure
    animation: preloader 3000ms 100ms both;
}
@keyframes preloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//Pades de menu__1: Fade-in
.fade {
    opacity: 1;
    animation: fade-in 600ms;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 100ms*$i;
        }
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}