//Page d'accueil__1: Loading Spinner
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    opacity: 0; 
    animation: preloader__opacity 3s 0s both;
    &__texte {
        font-family: $font-logo-titres;
        font-size: 1.3em;
        color: black;
        z-index: 3;
    }
    &__spin {
        position: absolute;
        background-color: transparent;
        border: 5px solid transparent;
        border-radius: 50%;
        opacity: 0.8;
        &--1 {
            width: 150px;
            height: 150px;
            border-top-color: $couleur-secondaire;
            border-bottom-color: $couleur-secondaire;
            animation: preloader__spin 1.5s ease-in-out 2;
        }
        &--2 {
            width: 170px;
            height: 170px;
            border-right-color: $couleur-tertiaire;
            border-left-color: $couleur-tertiaire;
            animation: preloader__spin 1.5s ease-in-out 2;
        }
        &--3 {
            width: 190px;
            height: 190px;
            border-top-color: $couleur-primaire;
            border-bottom-color: $couleur-primaire;
            animation: preloader__spin 1.5s ease-in-out 2;
        }
    }
}
@keyframes preloader__spin {
    to {
        transform: rotate(1turn);
    }
}
@keyframes preloader__opacity {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//Pades de menu__1: Fade-in
.fade {
    opacity: 1;
    animation: fade-in 600ms;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 100ms*$i;
        }
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}