//Boutons__1: Des boutons principaux 
@mixin btn-gradient ($largeur) {
    text-align: center;
    width: $largeur;
    @include btn-base;
    position: relative;
    z-index: 1;
    a {
        color: white;
        font-size: 0.95em;
        z-index: 2;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        text-align: center;
        width: $largeur;
        @include btn-dessous;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 400ms;
    }
}

//Boutons__2: Heart "J'aime"
.carte__heart {
    .empty {
        position: absolute;
        bottom: 35px;
        right: 20px;
        font-size: 1.4em;
        font-weight: normal;
        fill: transparent;
        opacity: 1;
    }
    .full {
        position: absolute;
        bottom: 35px;
        right: 20px;
        font-size: 1.4em;
        font-weight: bold;
        transform: scale(0);
        background:linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
        background:-webkit-linear-gradient(to bottom, $couleur-primaire, $couleur-secondaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover {
        .empty {
            opacity: 0;
        }
        .full {  
            transform: scale(1);
            transition: transform 500ms ease-in-out;
            transform-origin: bottom center;
        }
    }
}  

//Pades de menu__2: Petite coche au survol
.item__btn {
    position: relative;
    overflow: hidden;
    .btn__texte {
        width: 100%;
        @include desktop {
            width: 85%;
        }
        .texte__nom {
            @include ellipse;
        }
        .texte__details {
            @include ellipse;
        }
    }
    .btn__prix {
        position: absolute;
        right: 20px;
        bottom: 0px;
        transition: 400ms; //hover-off
    }
    .btn__hover {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(55px);
        transition: 400ms; //hover-off
    }
    &:hover {
        .btn__texte {
            width: 70%;
            transition: width 500ms ease-in-out;
        }
        .btn__prix {
            transform: translateX(-45px);
            transition: transform 500ms ease-in-out;
        }
        .btn__hover {
            transform: translateX(0px);
            transition: transform 500ms ease-in-out;
        }
        .btn__hover > i {
            transform: rotate(360deg);
            transition: transform 500ms ease-in-out;
        }
    }
}
