//Shadow base
@mixin carte-shadow ($flou) {
    box-shadow: 3px 5px $flou $couleur-grismoyen;
}

//Boutons__1: Des boutons principaux 
@mixin btn-base {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: $couleur-primaire;
    background-image: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
    box-shadow: 3px 5px 7px $couleur-grismoyen;
}
@mixin btn-dessous {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: lighten($couleur-primaire, 7);
    background-image: linear-gradient(to bottom right, lighten($couleur-secondaire, 7), lighten($couleur-primaire, 7));
    box-shadow: 3px 5px 7px darken($couleur-grismoyen, 7);
}

//Pades de menu__2: Petite coche au survol
@mixin ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//Responsive Web - Breakpoints
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette-min)) and (max-width: map-get($breakpoints, tablette-max)){
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}