/*Couleurs principales*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
/*Couleurs supplémentaires*/
$couleur-grisclair: #F6F6F6; 
$couleur-grismoyen: #D5D5D5;
$couleur-grisfonce: #353535;